NODE_ENV=development
PORT=3000
JWT_SECRET=your_secret_jwt_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
JWT_PUBLIC_KEY_PATH=your_pub_key_path
JWT_PRIVATE_KEY_PATH=your_pri_key_path
JWE_SECRET=your_secret_jwe_key
MONGODB_URI=mongodb://appuser:apppass@localhost:27017/myapp?authSource=myapp
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=rootpw